@import '../shared/scss/color.scss';

.header-toolbar {
  background-color: $primary-color; // main-color: TBD
  height: 64px;
  color: white;
  font-weight: bold;

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}


.app-sidenav {
  width: 240px;
  background-color: $background-color;

  .menu-link {
    display: flex; /* 彈性盒模型（Flexible Box Model）-> 彈性盒子（flex container）*/
    flex-direction: row; /* 指定主軸（Main Axis）的方向 */

    height: 40px;
    padding: 12px;
    margin-left: 8px;
    color: $primary-color;
    text-decoration: none;

    .menu-icon {
      padding: 8px;
    }

    .menu-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 40px;
    }
  }
}

#sidenav-content {
  height: calc(100vh - 64px);
  background-color: $background-color;
  display: flex;
  justify-content: center;

  #page-content {
    min-height: calc(100vh - 64px);
    width: calc(70vw);
    padding-top: 20px;
  }
}

@media screen and (max-width: 976px){
  #sidenav-content{
    #page-content {
      min-height: calc(100vh - 64px);
      width: calc(100vw);
    }
  }
}
