@import '../../shared/scss/color.scss';

.add-btn {
  position: fixed;
  bottom: 10vh; /* 调整按钮到底部的距离 */
  right: 8vw; /* 调整按钮到右侧的距离 */
  background-color: $primary-color; /* 按钮背景颜色 */
  color: #fff; /* 文本颜色 */
  // border: none;
  // cursor: pointer;
}

.page-title {
  font-size: 24px;
  font-weight: 500;
  padding: 8px;
  margin-bottom: 20px;
}
