@import '../../../shared/scss/color.scss';

div.table-tool-bar {
  padding-top: 8px;
  height: 56px;
  margin-left: 12px;

  .table-search {
    bottom: -6px;
    position: relative;
    mat-icon {
      bottom: -6px;
      position: relative;
    }
  }
  .mat-icon-button {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.table-tool-bar, .table-cmpt , .table-paginator{
  background-color: $background-color;
}
