<mat-toolbar class="header-toolbar">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/dashboard">{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button><mat-icon>favorite</mat-icon></button>
  <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="app-sidenav" [opened]="isNavOpened" mode="over" routerLinkActive="selected">
    <a class="menu-link" *ngFor="let node of menuData; let i=index"
      routerLink="{{ node.href }}">
        <mat-icon class="menu-icon"
        matTooltip="{{ 'menu.' + node.key | translate }}">
          {{ node.matIcon }}
        </mat-icon>
        <div class="menu-name">{{ 'menu.'+ node.key | translate }}</div>
    </a>
  </mat-sidenav>
  <mat-sidenav-content id="sidenav-content">

    <div id="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

    <!-- <div class="example-button-row" *ngFor="let node of menuData">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="gray" aria-label="Example icon button with a delete icon">
            <mat-icon>{{ node.matIcon }}</mat-icon>
          </button>
        </div>
      </div>
    </div>

<router-outlet></router-outlet>
<app-loader></app-loader> -->
